@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


/* =============================================================================

============================================================================= */


.primary-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-navigation ul {
  position: relative;
}

.primary-navigation ul li {
  list-style: none;
}

.primary-navigation ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.primary-navigation ul li a:hover {
  color: #03a9f4;
}


/* =============================================================================

============================================================================= */


main {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

body.nav-open main {
  right: 300px;
}

main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}


/* =============================================================================

============================================================================= */


#primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000; /* ? */
}

#primary-header .logo {
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(hamburger.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

body.nav-open .nav-toggle {
  background: url(close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}


/* =============================================================================

============================================================================= */


#text-section {
  position: relative;
  z-index: 10;
}

#text-section h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

#text-section h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

#text-section p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

#text-section a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

#text-section a:hover {
  letter-spacing: 6px;
}


/* =============================================================================

============================================================================= */


#social-links-section {
  position: absolute;
  bottom: 20px;
  z-index: 10;
}

#social-links-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-links-section li {
  list-style: none;
}

#social-links-section li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

#social-links-section li a:hover {
  transform: scale(0.5) translateY(-15px);
}


/* =============================================================================

============================================================================= */


@media (max-width: 991px){
  main, .primary-header { padding: 40px; }

  #text-section h2 { font-size: 3em; }

  #text-section h3 { font-size: 2em; }
}
